*{
    box-sizing: border-box;
  }

  section{
    height: 80vh;
    display: grid;
    grid-template-columns: minmax(auto, 400px);
    justify-content: center;
  }

  .title{
    background-color: #263f4e;
    padding: 2px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
  }

  .container{
    width: 100%;
    justify-self: center;
    padding: 8px;
    border: 1px solid #88d4ff;
    background-color: #f3f8fb;
    
  }
  
  canvas{
    width: 100%;
    height: 50vh;
    border-radius: 0 0 5px 5px;
    border: 1px solid #88d4ff;
  }
  
  .text{
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    border: none;
    border-radius: 5px;
    border: 1px solid #88d4ff;
    
  }

  .btn{
    width: 45%;
    margin-left: 6px;
    margin-right: 9px;
    display: table-row;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: 0;
    padding: 5px 5px;
    font-weight: bold;
    background-color: #95ca3e;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    border-bottom: 2px solid #669840;
  }

  .btn:hover{
    background-color: #a6d160;
  }
  
  .btn:active{
    margin-top: 7px;
    background-color: #608327;
    border: none;
  }

  input[type=color]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
  }

  input[type=color]::-webkit-color-swatch{
    border-radius: 50%;
    border: 1px solid #000;
  }

  input[type=color]::-moz-color-swatch{
    border-radius: 50%;
    border: 1px solid #000;
  }